
/* HEADER */
 
    /** Set the backgrounds for the different sections **/


    .call-us-today
    {
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1rem;
        font-weight: 300;
    }

    .call-us-today a
    {
        font-weight: 700;
    }

    

    .social-buttons
    {
        text-align: right;
    }

    /* logo giant */
    .logo-giant
    {
        background-image: url('../images/logo-giant.png'); 
        height: 6rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 3.75rem 3rem .5rem;    }
    
    /* logo small */
    .logo-small
    {
        background-image: url('../images/logo-small.png');
        height: 3rem;
        background-repeat: no-repeat; 
        background-position: center;
        background-size: contain;
    }

    #logo-small-link
    {
        display: block;
        height: 3rem;
        width: 13rem;
    }
    
/* home links */

    body.home .content-area a,
    {
        text-align: center;
        display: block;
        font-style: italic;
    }

/*HOMEPAGE SLIDER */

    body.home .slider-container
    {
        padding: 2.5rem 0;
    }

    .slider-container .slider .slick-slide
    {
        height: 25.5rem;
        border-radius: .5rem;
        overflow: hidden;
        position: relative;
    }

    .slider
	{
		position: relative;	
	}


	.slider img
	{
		border-radius: 10px;
		overflow: hidden;
	}

    .slider .business-area-logo .half-logo-granary,
    .slider .business-area-logo .half-logo-businessarea
    {
        text-align: left;
    }

    .slider .summary h2,
    .slider .summary p
    {
        text-align: right;
        margin: 0 3rem 1rem 0;
        color: #131342;
    }

    .slider .summary h2
    {
        margin-top: 1.5rem;
    }

    .slick-prev
    {
        left: 1rem;
    }

    .slick-next
    {
        right: 1rem;
    }

    ul.slick-dots
    {
        margin-left: 0;
        bottom: -3.5rem;
    }

    .slider .granarycare a.button,
    .slider .granarykids a.button,
    .slider .nannyagency a.button,
    .slider .motherandbaby a.button
    {
        float: right;
        padding: .75rem 1.5rem;
        margin-right: 3rem;
        position: absolute;
        bottom: 0.5rem;
        right: 0;
    }

    .slick-slide .slider-copy-content:before
    { 
        content:'';
        width: 42rem;
        height: 42rem;
        border-radius: 21rem;
        position: absolute;
        z-index: -1;
        margin-top: -6rem;
        margin-left: -16rem;
        margin-right: 16rem;
        overflow: hidden;
    }




/*HOMEPAGE ABOUT SECTION*/
    body.home h1
    {
        text-align: right;
        margin-top: .7rem;
    }

/*HOMEPAGE BUSINESS PANEL*/


    .business-panel a,
    #business-blurbs a,
    a.general-link,
    a.alltext-link
    {
        text-align: center;
        display: block;
        font-style: italic;
    }

    hr 
    {
        clear: both; 
        float: none; 
        width: 100%; 
        height: 1px;
        margin: 1rem 0 3rem 0;
        border: none; 
    }

    .business-panel .row,
    
    {
        margin: 2rem auto;
    }

    .business-panel h2
    {
        text-align: right;
    }

    #business-blurbs
    {
        margin-left: 4rem;
    }

    .business-panel #business-blurbs p:first-child,
    .clubs-panel #business-blurbs p:first-child
    {
        margin-top: 2.9rem;
    }

    .general-link
    {
        margin-top: 3rem;
        text-decoration: underline;

    }


    .image-bullet li
    {
/*      background: url('../images/red-heart-bullet.png') no-repeat;
      background-size: contain;
      background-position: center;*/
      height: 3rem;
      padding-left: 2rem;
    }

    .image-bullet-container
    {
      background: url('../images/yellow-heart-bullet.png') no-repeat; 
      background-size: contain;
      background-position: center;
      height: 3rem;
      margin-top: 1.5rem; 
    }

    .image-bullet li a
    {
        text-align: left;
    }

    .business-panel ul
    {

/*        list-style-image: url('../images/red-heart-bullet.png');
*/
        list-style: none;
    }



    .heart-mark-blue
    {
        background: url('../images/purple-heart-bullet2.png') no-repeat;
        background-size: contain;
        background-position: center;
        height: 2rem;
        margin-top: 1.5rem;
    }

    .heart-mark-green
    {
        background: url('../images/green-heart-bullet.png') no-repeat;
        background-size: contain;
        background-position: center;
        height: 2rem;
        margin-top: 1.5rem;
    }

    .heart-mark-lightblue
    {
        background: url('../images/blue-heart-bullet.png') no-repeat;
        background-size: contain;
        background-position: center;
        height: 2rem;
        margin-top: 1.5rem;  
    }

    .heart-mark-yellow
    {
        background: url('../images/yellow-heart-bullet.png') no-repeat;
        background-size: contain;
        background-position: center;
        height: 2rem;
        margin-top: 1.5rem;
    }
    
    



     
    .footer-area {
        min-height: 50px;
        padding: 20px 0 0 0;
    }
     
    .full-width {
        min-width:100%;
        position: relative;
    }
     
    .navigation-area {
        border-bottom: none;


    }

    .nav-wrap
    {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        height: 2.25rem;

    }

    /** Changes background color, height and margin of the border **/
    .top-bar {
        background: none;
        height: 2.5rem;
        line-height: 1rem;
    }

    .top-bar.expanded
    {
        height: auto !important;
    }

    .top-bar-section ul
    {
        display: table;
        margin: 0 auto;
    }
     
    /** Removes black background on menu bar **/
    .top-bar-section ul.top-level > li 
    {
        background: none;
        display: inline-block;
        /*text-transform: uppercase;*/
        
    }

    .top-bar-section ul.top-level > li:last-child
    {
        border-right: none;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;

    } 


     
    /** Removes black background on menu item **/
    .top-bar-section li:not(.has-form)  a:not(.button) {
        background: none;
        line-height: 1rem;
        padding: 0.7rem;
        height: 2.25rem;
    
    }

    .top-bar .toggle-topbar.menu-icon a
    {
        color: #008cba;
    }

    .top-bar .toggle-topbar.menu-icon a span::after
    {
        box-shadow: 0 0px 0 1px #008cba, 0 7px 0 1px #008cba, 0 14px 0 1px #008cba;
    }

/* need to overide foundation- doesn't work */
    .top-bar-section .has-dropdown > a 
    {
        padding-right: 3.1rem;
    }

    .top-bar-section .has-dropdown > a:after
    {
        top: 1.25rem;
    }



/*TESTIMONIAL SECTION*/

    .testimonial 
    {
        padding: 30px 20px;
        text-align: center;
    }

    .testimonial-large
    {
        padding: 80px 0;
        text-align: center;

    }







/*HOMEPAGE SOCIAL RESPONSIBILITY BLURB*/

.content-area.social-blurb .row
{
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 2rem 0;
}


/*FOOTER*/
    .footer-nav {
        list-style: none;
    }

    a .fa {
        margin-top: .5rem;
    }

    .footer-area .row
    {
        padding: 2rem 0;
    }

/* banners */
    .banner-statement
    {
        text-align: center;
        padding: 1.5rem 0;
       
    }

    .image-banner-area
    {
        padding: 1rem 0;
    }

    .image-banner-area img
    {
       margin: 1rem auto;
    }


    .image-banner-area h2
    {
        margin: 2rem 0 0 1.5rem;
    }

/* Banner message crayon dividers*/
    
    /* yellow crayon */

        .banner-statement.nannyagency .columns:before,
        .banner-statement.motherandbaby .columns:before, 
        .banner-statement.general .columns:before, 
        .testimonial-large .columns:before,
        .banner-statement.granarykids .columns:before

        {
            content: ' ';
            background-image: url('../images/yellow-crayon-divide.png'); 
            /*width: 100px;*/
            height: 1rem;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .banner-statement.nannyagency .columns:after, 
        .banner-statement.motherandbaby .columns:after,
        .banner-statement.general .columns:after,
        .testimonial-large .columns:after,
        .banner-statement.granarykids .columns:after

        {
            content: ' ';
            background-image: url('../images/yellow-crayon-divide.png'); 
            height: 1rem;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;    
            -moz-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            filter: flipv; /*IE*/
        }

    /* red crayon */

       /* .banner-statement.granarykids .columns:before*/ 
/*        .testimonial-large .columns:before
*/        {
            content: ' ';
            background-image: url('../images/red-crayon-divide.png'); 
            /*width: 100px;*/
            height: 1rem;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

       /* .banner-statement.granarykids .columns:after*/ 
/*        .testimonial-large .columns:after
*/        {
            content: ' ';
            background-image: url('../images/red-crayon-divide.png'); 
            height: 1rem;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;    
            -moz-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            filter: flipv; /*IE*/
        }




/* Large Images */

    .main-image-section
    {
        background: white;
    }

    .main-image-section img
    {
        border-radius: 8px;
    }




    .image-container img
    {
        display: block;
        margin: 0 auto;
    }

    .text-overlay
    {
        background: rgba(0,0,0,.5);
        color: rgba(255,255,255,1);
        padding: 10px 0 0 10px;
        overflow: hidden;
      /*  position: absolute;
        bottom: 0;
        left: 0;
        right: 0;*/
    }



    .image-background
    {
        padding: 40px 0;
    }



/* SLICK SLIDER 



    .slick-prev:before, .slick-next:before
    {
        color: rgb(0, 140, 186);
    }

/*ABOUT PAGE*/

/*TEAM PAGE*/

    .staff-profiles
    {
        padding: 40px 0;
    }

    .staffinfo
    {
        padding-left: 30px;
    }

    .staff-profile-images
    {
        border-radius: 10rem;
        margin-top: 2rem;
        border: solid 4px;
        border-color: #76C2A1;

    }

    .staffinfo h4
    {
        font-weight: 300;
    }

/* SOCIAL RESPONSIBILITY */
    .social-blurb #business-blurbs
    {
        margin-left: 0;
    }

    .social-blurb h2
    {
        text-align: center;
    }



/*AFTERSCHOOL-BREAKFAST-CLUBS PAGE*/
    #map_canvas
    {
        height: 400px;
        border-radius: 8px;
        margin: 20px 0;
    }

    .school-profile-images
    {
        border-radius: 250px;
    }

    .schoolclubsinfo
    {
        height: 350px;
        overflow: hidden;
        border-radius: 8px;       
        margin: 20px 30px; 
        background-color: rgba(0,0,0,.1);
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
    
        /* padding: 0; */
}

    .schoolclubsinfo h5
    {
        height: 50px;
        color: rgba(0,0,0,1);
        margin: 0;
        
    
    }

    .schoolclubsinfo p
    {
        opacity: 0;
        line-height: 1.5;
    }

    .schoolclubsinfo img
    {
        margin: 0 -6% 15px -6%;
        width: 112%;
        /* border-radius: 8px; */
    
        max-width: 112%;
}

    .schoolclubsinfo a.button
    {
        margin: 0 10px 0 0;
    }

    .schoolclubsinfo:nth-of-type(even)
    {
        float: right;
    }

    .show-description 
    {
        height: 930px;
    }

    .show-description p
    {
        opacity: 1;
        
    }


/* NANNY AGENCY PAGE  +  ACTIVE HOLIDAY CAMP PANELS*/
/* IMAGE SECTIONS */
    .large-button-image
    {
        margin: 3rem auto;
        padding: 0;
        position: relative;
        text-align: center;    
        display: block; 
    }

    .large-button-image img
    {
       border-radius: 200px; 
    }


    .nanny-button-image,
    {
        
        margin: 20px auto;
        padding: 0;
        position: relative;
        text-align: center;
        width: 202px;
        height: 202px;
        line-height: 202px;
        border-radius: 101px;
        overflow: hidden;
        display: block;
        /*margin-right: auto;
        margin-left: auto;*/

    }
    .nanny-button-image img,
    {
        vertical-align: baseline;
    }

    .button-image img
    {
        margin: 20px auto;
        padding: 0;
        position: relative;
        text-align: center;
        max-width: 50%;
        overflow: hidden;
        display: block; 
        vertical-align: baseline;

    }

    .nanny-business-panel .nanny-button-image h3
    
    {
        margin: 0;
        position: absolute;
        height: 100%;
        top: 0;
        padding-top: 70px;
        width: 202px;
        vertical-align: middle;
        line-height: normal;
    }

    .nanny-business-panel .description
    {
        margin-top: 30px;
        height: 140px;
    }

    .button-image h3
    {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;

    }
    .nanny-business-panel,
    .activity-business-panel
    {
        text-align: center;
        padding: 20px;
    }

    
    .activity-business-panel .business-panel-description
    {
/*        height: 13rem;
*/    } 

    .activity-business-panel.last.odd
    {
        float: none !important;
        margin: auto;
    }

    .activity-business-panel.odd
    {
        clear: both;
    }


    .nanny-business-panel a.button
    {
        margin: 50px 0;
    }

    .accreditations-container
    {
        /*height: 11rem;*/
        margin: 4rem auto;
    }

    .accreditations-container img
    {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }

/* FAMILIES PAGE*/

    .tabs-content > .content
    {
        padding: 12px;
    }

    .action-area .buttons-container
    {
        text-align: center;
        margin: 2rem 0 4rem 0;
    }

    .buttons-container a.button
    {
        margin: 1rem;
        padding: 30px;
    }


    /*TYPES OF CARER PAGE*/


    #tab-descriptions p
    {
        font-size: 20px;
    }

    ul.tabs.vertical 
    {
        margin-right: 20px;
    }

    /*MEET OUR NANNY PAGE*/

    .profiles-container
    {
       margin-bottom: 3rem;
    }

    .profile-info
    {
        margin-top: 30px;

    }


    .nanny-profile-images img
    {
        border-radius: 10rem;
        display: block;
        margin: 3rem auto;
        border: solid 4px;
        border-color: #FFAD06;
    }

    /* TESTIMONIALS PAGE*/

/*    .bubble 
    {
    position: relative;
    margin: 40px 0;
    max-width: 100%;
    height: 350px;
    padding: 40px;
    background: #FFFFFF;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    border: rgba(0,0,0,.1) solid 4px;
    }*/

    .bubble 
    {
    position: relative;
    max-width: 100%;
    min-height: 20rem;
    padding: 2rem;
    background: none;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    border: rgba(118, 194, 161, .4) solid 4px;
    }


    .bubble:after 
    {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 34px 22px 0;
    border-color: #FCFBF7 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -34px;
    left: 97px;
    }


    .bubble:before 
    {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 37px 25px 0;
    border-color: rgba(118, 194, 161, .4) transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -41px;
    left: 94px;
    }


    .testimonial-container
    {
        margin: 2rem auto;


    }

    .testimonial-container p
    {
        text-align: right;

    }


    /*    TIPPLES TOPPLES PAGE    */

    .extra-info-box
    {
        border-radius: 10px;
        padding: 10px 20px;
    }

    .service-buttons-container
    {
        padding: 25px 0;
    }

    .service-buttons-container a
    {
        margin: 20px 0px;

    }

/* SOCIAL RESPONSIBILITY PAGE  */

    .social-panel-description h2
    {
        text-align: left;
    }

    .social-panel-description a
    {
        color: #131342;
    }

    .social-panel-container
    {
        padding: 3rem 0;

        

    }


    .social-panel-container img
    {
        margin: 2rem;
    }

    /* FORMS*/

    .form-container
    {
      
        /*margin-bottom: 50px;*/
    }

    form .row .row
    {
        margin: 20px auto;
    }


/* club pages */

    .club-location-area #map_canvas
    {
        height: 20rem;
        width: 20rem;
        border-radius: 15rem;
        display: block;
        margin: 3rem auto;
        border: solid 4px;
        border-color: #39C6C9;

    }

    .clubs-panel .business-blurbs a 
    {
        text-align: left;
    }

    .clubs-panel .row
    {
        margin: 1rem auto;
    }

    .clubs-panel .business-blurbs,
    .clubs-panel h2
    {
        margin-bottom: 3.5rem;
    }

/* Accordion */

    .accordion-container
    {
       margin-top: 3rem; 
    }

/* FACILITIES PAGE */
    .last-blurb ul li
    {
        margin-bottom: 1rem;
    }

/* CONTACT PAGE */

    .email-container.granarykids,
    .email-container.nannyagency,
    .email-container.motherandbaby
    {
    
        border-radius: 8rem;
        text-align: center;
        margin-bottom: 3rem;

    }

    .email-container.granarykids h3,
    .email-container.nannyagency h3,
    .email-container.motherandbaby h3
    {
        line-height: 3rem;
        padding: 1rem;
    }



    .form-container
    {
        margin-top: 4rem;
        margin-bottom: 0;
        padding-top: 4rem;
    }

    .form-container h2
    {
        margin-bottom: 4rem;
    }

    input[type="text"], 
    input[type="password"], 
    input[type="date"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="month"], 
    input[type="week"], 
    input[type="email"], 
    input[type="number"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="time"], 
    input[type="url"], 
    input[type="color"], 
    textarea,
    select
    {
        border-radius: 5px;
    }



/*  RESPONSIVE DESIGN  */
    
        @media (min-width:847px)
        {
                /*.nav-wrap
                {
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;
                height: 2.25rem;

                }*/
        }

    /* 846  trying 1024 foundations medium size screen*/
        @media (max-width:1025px)
        {
            /**/

                .content
                {
                    margin: 0 2rem;
                    padding: 0 4rem;
                }

             /* HEADER */

                .call-us-today
                {
                    text-align: center;
                }

            /* BANNER STATEMENT */
                {
                    padding: 1rem 0;
                }


            /* TESTIMONIALS */

                .testimonial-large
                {
                    padding: 2rem 4rem;
                }
        

        /* NAVIGATION */

                .top-bar-section ul.top-level > li
                {
                    display: block;
                }

                .top-bar.expanded .title-area
                {
                    background: none; 
                }

                .top-bar .toggle-topbar.menu-icon
                {
                    margin-top: -.8rem;
                }

                .top-bar .toggle-topbar.menu-icon a
                {
                    color: #131342;
                }

                .top-bar .toggle-topbar.menu-icon a span::after
                {
                    box-shadow: 0 0px 0 1px #131342, 0 7px 0 1px #131342, 0 14px 0 1px #131342;
                }

                .general .nav-wrap, .general .top-bar-section ul li,
                .granarykids .nav-wrap, .granarykids .top-bar-section ul li,
                .nannyagency .nav-wrap, .nannyagency .top-bar-section ul li,
                .motherandbaby .nav-wrap, .motherandbaby .top-bar-section ul li
                {
                    z-index: 1;
                }
                .general .nav-wrap, .general .top-bar-section ul li
                {
                    background-color: rgba(253, 233, 192, 1);
                }

                .granarykids .nav-wrap, .granarykids .top-bar-section ul li
                {
                    background-color: rgba(207, 239, 236, 1);
                }

                .nannyagency .nav-wrap, .nannyagency .top-bar-section ul li
                {
                    background-color: rgba(255,216, 205, 1);
                }

                .motherandbaby .nav-wrap, .motherandbaby .top-bar-section ul li
                {
                    background-color: rgba(223,241,233, 1);
                }

                .top-bar-section ul.top-level > li
                {
                    border-right: none;
                }


                /*.nav-wrap
                {
                    height: 2.9rem;
                    border-radius: 0;
                }*/

                .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a
                {
                    color: rgba(19, 19, 66, .6);
                }

        /* HOMEPAGE */

                body.home h1
                {
                    text-align: center;
                }

                #business-blurbs 
                {
                    margin-left: 0;
                    /*padding: 0 4rem;*/
                }

                .business-panel h2
                {
                    text-align: center;
                }

                body.home .heart-mark-yellow
                {
                    margin-bottom: 2rem;
                }

                .social-blurb
                {
                    /*padding: 0 4rem;*/
                }

                

        /* FOOTER AREA */

                .footer-area .content
                {
                    /*padding: 0 4rem;*/
                }

        /* TEAM PAGE */
                .staffinfo
                {
                    padding-left: 0;
                }

        /* GRANARY KIDS HOMEPAGE */

                .business-panel ul.image-bullet li a h3
                {
                    color: #39C6C9;
                }

                ul.image-bullet
                {
                    margin-left: 0;
                }

        /* BUSNESS AREA HOMEPAGE */
                .accreditations-container .logos:nth-of-type(3n)
                {
                    clear: both;
                }

        /* GRANARY KIDS USEFUL INFO */
                .social-panel-container img
                {
                    margin: 2rem auto;
                    display: block;
                }

        /* MEET OUR NANNIES PAGE */
                .nanny-profile-images img,
                .staff-profile-images
                {
                    max-width: 35%;
                    display: block;
                    margin: 2rem auto 0;
                }

                .profiles-container #business-blurbs h4,
                .profiles-container #business-blurbs h5,
                .staff-profiles .staffinfo h3,
                .staff-profiles .staffinfo h4

                {
                    text-align: center;
                }
        /* FACILITIES PAGE */
                .large-button-image img
                {
                    max-width: 240px;
                }

                .profiles-container h3
                {
                    text-align: center;
                }
        }


    /* 801 break: large images for tablets full-wdith */
        @media (max-width:801px)
        {
                .fa-phone.fa-2x
                {
                    padding: 0 1rem;
                }

                .row.image-container
                {
                    margin: 0 -7rem;
                    width: auto;
                }
        }

    /* 768 topbar break (48em at 16px base font) */
        @media (max-width:767px)
        {
                .nav-wrap
                {
                    height: 2.9rem;
                    
                }

                /* little arrow next to dropdown items */

                .top-bar-section .has-dropdown > a:after
                {
                    /* pointing right */
                    border-color: transparent transparent transparent rgba(19,19,66, 0.3) ;
                } 

                li .back
                {
                    position: relative;
                    padding-left: 1rem;
                }

                li .back:before
                {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border: inset 5px;
                    border-left-style: solid;
                    margin-right: 0.9375rem;
                    margin-top: -2.5px;
                    position: absolute;
                    top: 50%;
                    left: 0.5rem;

                    border-color: transparent rgba(19,19,66, 0.3) transparent transparent  ;  
                }   


        }


    /* 768px break hides nav parent link on large nav */
        @media (min-width:768px)
        {
                .top-bar-section .dropdown li.parent-link
                {
                    display: none;
                }
        }

       



    /* 640 */
        @media (max-width:640px)
        {

                .content
                {
                    padding: 0 1rem;
                }

                html,body
                {
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    padding: 0px;
                    overflow-x: hidden; 
                }

                .call-us-today
                {
                    margin-top: .4rem;
                }


            /* HEADER */
                .logo-small
                {
                    height: 4rem;
                }

                #logo-small-link
                {
                    width: 100%;
                    height: 4rem;
                }

                


            /* SLIDER */
                .slider-container .slider .slick-slide
                {
                    height: 20rem;
                }

                .slick-slide .slider-copy-content:before
                { 
                    content:'';
                    width: 34rem;
                    height: 34rem;
                    border-radius: 17rem;
                    position: absolute;
                    z-index: -1;
                    margin-top: -23rem;
                    margin-left: -11rem;
                    margin-right: 16rem;
                    overflow: hidden;
                }

                .slider .summary h2,
                .slider .summary p
                {
                    margin: 0 1.5rem .5rem 1.5rem;
                }

                .slider .business-area-logo .half-logo-granary
                {
                    margin: 1.5rem 0 0 1.5rem;
                }

                .slider .business-area-logo .half-logo-businessarea
                {
                    margin-left: 1.5rem;
                }

                .slider .granarycare a.button, 
                .slider .granarykids a.button, 
                .slider .nannyagency a.button, 
                .slider .motherandbaby a.button
                {
                    margin-right: 1.5rem;
                }

            /* FOOTER */

                .footer-area .call-us-today
                {
                    line-height: 2rem;
                }

                .footer-area .content
                {
                    padding: 0 1.5rem;
                }

            

            /* NAVIGATION */

                .top-bar-section ul.top-level > li
                {
                    display: block;
                }

                .top-bar.expanded .title-area
                {
                    background: none; 
                }

                .top-bar .toggle-topbar.menu-icon
                {
                    margin-top: -.8rem;
                }

                .top-bar .toggle-topbar.menu-icon a
                {
                    color: #131342;
                }

                .top-bar .toggle-topbar.menu-icon a span::after
                {
                    box-shadow: 0 0px 0 1px #131342, 0 7px 0 1px #131342, 0 14px 0 1px #131342;
                }

                .general .nav-wrap, .general .top-bar-section ul li,
                .granarykids .nav-wrap, .granarykids .top-bar-section ul li,
                .nannyagency .nav-wrap, .nannyagency .top-bar-section ul li,
                .motherandbaby .nav-wrap, .motherandbaby .top-bar-section ul li
                {
                    z-index: 1;
                }
                .general .nav-wrap, .general .top-bar-section ul li
                {
                    background-color: rgba(253, 233, 192, 1);
                }

                .granarykids .nav-wrap, .granarykids .top-bar-section ul li
                {
                    background-color: rgba(207, 239, 236, 1);
                }

                .nannyagency .nav-wrap, .nannyagency .top-bar-section ul li
                {
                    background-color: rgba(255,216, 205, 1);
                }

                .motherandbaby .nav-wrap, .motherandbaby .top-bar-section ul li
                {
                    background-color: rgba(223,241,233, 1);
                }

                .top-bar-section ul.top-level > li
                {
                    border-right: none;
                }


                .nav-wrap
                {
                    height: 2.9rem;
                    border-radius: 0;
                }

                .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a
                {
                    color: rgba(19, 19, 66, .6);
                }

            /* BUTTONS */

                .buttons-container a.button
                {
                    padding: 1rem;
                }

                .action-area .buttons-container
                {
                    margin: 2rem 0;
                }

            /* HOMEPAGE */


                #business-blurbs 
                {
                    margin-left: 0;
                    padding: 0 1.5rem;
                }

                .social-blurb
                {
                    padding: 0 1.5rem;
                }

            /* GRANARY KIDS HOMEPAGE */

                .image-bullet li
                {
                        height: 2rem;
                        padding-left: 0;
                        margin-bottom: 3rem;
                        
                }

                .image-bullet li a
                {
                        text-align: center;

                }

                /*ul.image-bullet
                {
                    margin-left: 0;
                }*/

              /*  .image-bullet-container
                {
                    height: 2.2rem;
                    margin-top: .5rem;
                    background: none;
                }*/

                /*.business-panel ul.image-bullet li a h3
                {
                    color: #39C6C9;
                }*/

            /* TEAM PAGE */

                .staff-profile-images
                {
                    border-radius: 8rem;
                    margin: 2rem auto 0;
                    width: 80%;
                    display: block;

                }

                .staffinfo
                {
                    padding-left: 0;
                    margin-top: 1.5rem;
                }

            /* BREAKFAST CLUBS HOMEPAGE */
                #map_canvas
                {
                    height: 15rem;
                }

                

            /* GRANARY KIDS USEFUL INFO */
               
                .social-panel-description h2
                {
                    text-align: center;
                }

            /* ACTIVE HOLIDAY CAMPS */

                .last-blurb
                {
                    margin-top: 2rem;
                }

            /* BUSINESS AREA HOMEPAGE */



                .image-banner-area img
                {
                    margin: 1rem auto;
                    height: 14.5rem;
                    display: block;
                }

                .accreditations-container .logos:nth-of-type(3n)
                {
                    clear: both;
                }

            /* MEET OUR NANNIES */
                .nanny-profile-images img
                {
                    margin: 2rem auto 0;
                    width: 80%;
                }



                /*.profiles-container #business-blurbs h4,
                .profiles-container #business-blurbs h5,
                .staff-profiles .staffinfo h3,
                .staff-profiles .staffinfo h4

                {
                    text-align: center;
                }*/

            /* MOTHER & BABY FACILITIES PAGE */

                .large-button-image
                {
                    margin: 2rem auto 0;
                    width: 15rem;
                    display: block;
                }

                

                .last-blurb ul
                {
                    margin-left: 1rem;
                }

            /* CONTACT PAGE */

                .email-container.granarykids h3,
                .email-container.nannyagency h3,
                .email-container.motherandbaby h3
                {
                    line-height: 2rem;
                }

            /* FORMS */
                .form-container h2
                {
                    text-align: center;
                }

            /* TESTIMONIALS */
                .testimonial-large
                {
                    padding: 2rem 0;
                }

             /* SERVICE PAGES */
                .row.image-container
                {
                    margin: 0 -4rem;
                    width: auto;
                }
           

        }
    /* 580 break for slider paragraph */

        @media (max-width: 580px)
        {
             /* SLIDER */

                .summary p
                {
                    display: none;
                }
        }

    /* 500 */
        @media (max-width:500px)
        {

                .content
                {
                    padding: 0;
                    margin: 0 1rem;
                }

                .banner-statement
                {
                    display: none;
                }

                .call-us-today
                {
                    margin-top: .2rem;
                }

            /* SLIDER */
                .slider .summary h2.carousel-headline
                {
                    margin: 0.5rem 1.5rem 1rem 1.5rem;

                }

                

            /* MEET OUR NANNIES PAGE */
                .nanny-profile-images img,
                .staff-profile-images
                {
                    max-width: 60%;
                }

            /* CLUBS PAGES */
                .club-location-area #map_canvas
                {
                    height: 15rem;
                    width: 15rem;
                }

             /* SERVICE PAGES */
                .row.image-container
                {
                    margin: 0 -1.5rem;
                    width: auto;
                }
           

        }





   

