/* 
	from http://www.gridlover.net/app 
	base font size 20px
	line height 1.5
	modular scale 1.618 (golden ratio)
*/

html
{
	/* resetting the browser's default, from 16px to 20 */
	font-size: 20px;
}

body
{
	font-family: "Lato";	
	/*font-size: 1.25rem;*/
  	line-height: 1.5;
  	/*max-width: 73rem;
  	margin: 0 auto;*/
}

h1 
{
	font-size: 4.25rem;
	line-height: 4.5rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-weight: 300;
}

h2 
{
	font-size: 2.6rem;
	line-height: 3rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 300;

}

h3 
{
	font-size: 1.6rem;
	line-height: 3rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 300;

}

h4 
{
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

p, ul, ol, pre, table, blockquote 
{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

/* Sanitation */

hr 
{
	border: 1px solid;
	margin: -1px 0;
}

ul ul, ol ol, ul ol, ol ul 
{
	margin-top: 0;
	margin-bottom: 0;
}

b, strong, em, small, code 
{
	line-height: 1;
}

sup, sub 
{
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub 
{
	top: 0.4em;
}

/* override Foundation */

h1, h2, h3, h4, h5, h6,
button, .button,
.top-bar-section ul li>a
{
	font-family: inherit;
}

.top-bar-section ul
{
	font-size: .75rem;
}

p
{
	line-height: 1.5;
}

.business-panel p
{
	font-weight: 300;
}


.content-area .row
{
	margin: 1rem auto;
}

/* Footer */

  .footer-area h2, .footer-area h3
    {
        text-align: center;
        font-weight: 300;
    }

  .footer-area li
  {
  	font-weight: 300;
  }

  .footer-area .copyright
  {
  	text-align: center;
  }

/* Banner Statement */

  .banner-statement h2
    {
        font-weight: 300;
        margin: 1rem 0;
    }

/* buttons */

.nannyagency .buttons-container a.firstbutton,
.motherandbaby .buttons-container a.firstbutton,
.motherandbaby .buttons-container a.secondbutton
{
	font-weight: 300;
}

/* slider */

	.slider .business-area-logo .half-logo-granary
	{
		font-weight: 300;
		margin: 1.5rem 0 0 3rem;
	}

	.slider .business-area-logo .half-logo-businessarea
	{
		font-weight: 400;
		margin: -.05rem 0 0 3rem;
	}

	.slider .summary p
	{
		font-size: 1.5rem;
		font-weight: 300;
	}

	.slick-dots li button:before
	{
		font-size: .5rem;
	}

	.slider .granarykids a.button,
	.slider .nannyagency a.button,
	.slider .motherandbaby a.button
	{
		font-size: .9rem;

	}

/* forms */
	
	select
	{
		font-family: "Lato";
	}

	select option#business-area
	{
		font-family: "Lato";
	}

	label
	{
		font-size: 1rem;
	}


/*  RESPONSIVE DESIGN  */
    
	   
	/* 500 */
	    @media (max-width:500px)
	    {

	    	html
			{
			/* resetting the browser's default, from 16px to 20 */
			font-size: 18px;
			}

	    	h1
	    	{
	    		font-size: 2.8rem;
	  			line-height: 3.5rem;
	  			margin-top: 1rem;
	  			margin-bottom: 1rem;
	    	}

	    	h2
	    	{
	    		font-size: 2rem;
	  			line-height: 2.6rem;
	    	}

	    	h3
	    	{
	    		font-size: 1.4rem;
	  			line-height: 2.2rem;
	  			margin-top: 1.5rem;
	    	}
	    }


    /* 800 */
        @media (max-width:800px)
        {
            /**/
           	html
			{
			/* resetting the browser's default, from 16px to 20 */
			font-size: 18px;
			}

				h1
	    	{
	    		font-size: 3.5rem;
	  			line-height: 4rem;
	  			margin-top: 2rem;
	  			margin-bottom: 2rem;
	    	}

	    	h2
	    	{
	    		font-size: 2.3rem;
	  			line-height: 2.8rem;
	    	}

	    	h3
	    	{
	    		font-size: 1.5rem;
	  			line-height: 2.6rem;
	  			margin-top: 1.5rem;
	    	}

			    	/*h1
			    	{
			    		font-size: 2.8rem;
			  			line-height: 3.5rem;
			  			margin-top: 1rem;
			  			margin-bottom: 1rem;
			    	}

			    	h2
			    	{
			    		font-size: 2rem;
			  			line-height: 2.6rem;
			    	}

			    	h3
			    	{
			    		font-size: 1.4rem;
			  			line-height: 2.2rem;
			  			margin-top: 1.5rem;
			    	}*/

	    		/*h1 */
				/*{
					font-size: 4.25rem;
					line-height: 4.5rem;
					margin-top: 3rem;
					margin-bottom: 3rem;
					font-weight: 300;
				}

				h2 
				{
					font-size: 2.6rem;
					line-height: 3rem;
					margin-top: 1.5rem;
					margin-bottom: 1.5rem;
					font-weight: 300;

				}

				h3 
				{
					font-size: 1.6rem;
					line-height: 3rem;
					margin-top: 1.5rem;
					margin-bottom: 1.5rem;
					font-weight: 300;
*/
/*}
	    }*/

        }